.main-color {
  color: rgba(174, 43, 76, 1);
}

.theme-color {
  display: flex;
  align-items: flex-end;
}

.color-picker {
  position: absolute;
  top: 40px;
}

.Polaris-TextField__Suffix {
  margin-right: 0 !important;
}

.color-picker__box {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 5px;
  background-color: #000;
}

.color-picker__input {
  opacity: 0;
}

.section__header {
  display: flex;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.Polaris-Tabs__Tab--selected .Polaris-Tabs__Title::before,
.Polaris-Tabs__Tab--selected:focus .Polaris-Tabs__Title::before {
  background-color: var(--p-text-critical) !important;
}
